:root {
    font-size: 16px;
    font-family: 'Open Sans';

    --text-primary: #7e0273;
    --text-secondary: #4685ff;
    --bg-primary: #ffffff;
    --bg-secondary: #f2f2f2;
    --bg-tertiary: #f9f9f9;
    --accent: #ffb084;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
    height: 100%;

    margin-left: 75px;
}

main {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 10px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

section {
    margin: 0.5rem 0;
    display: block;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background-color: var(--bg-secondary);
    font-size: 16px;
    font-family: sans-serif;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-decoration: none;
    color: var(--text-secondary);
    opacity: 0.4;
    transition: background 0.5s;
}

.menu__item>i {
    font-size: 2.2em;
}

.menu__item__active {
    opacity: 1;
    background-color: var(--accent);
}

.menu__item:hover {
    background-color: var(--accent);
}

.hidden {
    display: none;
}

.title {
    font-size: 26pt;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
}

main>div {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    height: 100%;
    width: 100%;
}

.not-middled {
    width: 100%;
    text-align: left;
}

.max {
    width: 100%;
    height: 100%;
}

.vocset {
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    min-height: 70px;
    max-height: 100px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    transition: background 0.1s;
    margin-bottom: 30px;
}


.vocset:hover {
    background-color: var(--text-secondary);
}

.voc_set_description {
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name count"
        "vocset_author count";
}

.count {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "count_description"
        "count_value";
    grid-area: count;
}

.count_description {
    text-align: center;
    grid-area: count_description;
}

.count_value {
    text-align: center;
    font-size: 42pt;
    grid-area: count_value;

}

.vocset_name {
    font-size: 28pt;
    grid-area: name;
    padding-left: 10px;
    text-align: center;
}

.vocset_author {
    font-size: 16pt;
    grid-area: vocset_author;
    padding-left: 10px;
    text-align: center;
}

table {
    color: var(--text-primary);
}

hr {
    display: block;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, var(--bg-secondary), var(--text-primary), var(--bg-secondary));
    opacity: 0.25;
    margin: 1rem 0.5rem;
    width: 100%;
}

text {
    display: block;
    text-align: center;
    font-size: 20pt;
}

setting {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    display: block;
    padding: 20px;
    padding-bottom: 30px;
    margin: 20px;
}

red {
    color: red;
}


category {
    background-color: var(--bg-tertiary);
    border-radius: 20px;
    display: block;
    padding: 20px;
    padding-bottom: 30px;
    margin: 20px;
}

.vocabulary_view_vocab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first second third";
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

table[type="vocabulary_view"] {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

spacer {
    display: block;
    width: 100%;
    height: 5%;
}

table[type="vocabulary_view"] th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: var(--text-secondary);
}

table[type="vocabulary_view"] td,
table[type="vocabulary_view"] th {
    border: 1px solid #ddd;
    padding: 8px;
}

table[type="vocabulary_view"] tr:nth-child(even) {
    background-color: var(--bg-tertiary);
}

table[type="vocabulary_view"] tr:hover {
    background-color: var(--accent);
}

.vocabulary_view_vocab_list {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

bottombar {
    position: fixed;
    bottom: 10%;
    background-color: var(--bg-tertiary);
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background 0.1s;
}

button:hover {
    background-color: var(--accent);
}

input {
    background-color: var(--bg-tertiary);
    border: 0;
}

.testing_question {
    padding: 10px 6px;

    min-width: 500px;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

table[trainer="table"] {
    width: 60%;
    margin: 0px auto;
    padding: 5px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    text-align: center;
}

section[trainer="div"] {
    width: 100%;
}

table[trainer="table"] th {
    font-size: 7pt;
}

table[trainer="table"] td {
    font-size: 12pt;
}

td[trainer_style]>i {
    font-size: 38pt !important;
    transition: font-size 0.1s;
}

td[trainer_style]:hover>i {
    font-size: 42pt !important;
}

.testing_awnser {
    width: 100%;
}

.testing_awnser>table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.testing_awnser>table>th {
    font-size: 10pt;
}

.subquestion {
    font-size: 12pt;
    text-align: center;
    width: 100%;
    display: block;
    opacity: 0.5;
    font-style: italic;
    font-weight: 900;
}