/*
*
* RADPLAT-MIN-v0.1.5
* REMOVED BLOAT
*/

:root {
    font-size: 16px;
    font-family: 'Open Sans';
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
    height: 100%;
}


/*
*
* VOKTRAINER
*
*/


main {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #d1d1d1;
}

section {
    margin: 0.5rem 0;
    display: block;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
    opacity: 0.5;
    cursor: default;
}

.card {
    box-shadow: 0 0.25rem 1rem #ffffff00;

    padding: 1rem;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    overflow-wrap: break-word;
    min-width: 350px;
    max-width: 600px;
    background-color: #262626;

    display: block;
}

.card>div>p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.buttonholder {
    display: block;
}

.buttonholder>a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 4px 6px;

    margin-right: 12px;
    margin-left: 12px;
}

.icon {
    font-size: 36pt;
    vertical-align: sub;
    cursor: pointer;
    color: #c2c2c2
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #262626, #d1d1d1, #262626);
    opacity: 0.25;
    margin: 1rem 0.5rem;

    display: block;
}

a {
    text-align: center;
    text-decoration: none;
    color: #c2c2c2;
}

.loadNewVoc>a>i {
    font-size: 12pt;
}

.loadNewVoc {

    text-align: center;
}



@media all and (min-width:769px) and (max-width: 800px) {
    :root {
        font-size: 16pt;
    }
}

@media all and (min-width:569px) and (max-width: 768px) {
    :root {
        font-size: 18pt;
    }

    .watermark {
        display: none;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
    :root {
        font-size: 20pt;
    }

    .watermark {
        display: none;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    :root {
        font-size: 22pt;
    }

    .watermark {
        display: none;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    :root {
        font-size: 24pt;
    }

    .watermark {
        display: none;
    }
}

.watermark {
    position: absolute;
    bottom: 0;
    right: 5;
    color: #c2c2c2;
    text-align: center;
}


/* 3er BUTTONS */

#smallicon {
    font-size: 15pt;
}

.save,
.load,
.info {
    font-size: 7pt;
    display: inline-block;
}


/* WRONG VOC TABLE */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

td,
th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #111111;
}

.downloadAsPdfButton {
    color: blue;
    text-align: center;
}