/*
*
* RADPLAT-MIN-v0.1.5
* REMOVED BLOAT
*/

:root {
    font-size: 16px;
    font-family: 'Open Sans';

    --primary-bg: #1e1e1e;
    --secondary-bg: #262626;
    --tertiary-bg: #2f2f2f;

    --primary-color: #d1d1d1;
    --secondary-color: #c2c2c2;


    --right-color: #00ff00ab;
    --wrong-color: #ff0000ab;

}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
    height: 100%;
}


/*
*
* VOKTRAINER
*
*/


main {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: var(--primary-bg);
    color: var(--primary-color);
}


/*
 * TOP 
 */
section {
    margin: 0.5rem 0;
    display: block;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
    opacity: 0.5;
    cursor: default;
}

/*
 * CARD 
 */
.card {
    box-shadow: 0 0.25rem 1rem #ffffff00;

    padding: 1rem;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    overflow-wrap: break-word;
    min-width: 350px;
    max-width: 600px;
    background-color: var(--secondary-bg);

    display: block;

    text-align: center;
    font-size: 20pt;
}

.card>div>p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


hr {
    display: block;

    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, var(--secondary-bg), var(--primary-color), var(--secondary-bg));
    opacity: 0.25;
    margin: 1rem 0.5rem;
}

/*
 * BOTTOM 
 */

.buttons>a {
    display: inline-block;
    padding: 4px 6px;
    margin: 0px 12px;
}

a {
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
}

.loadingSection {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}


button {
    min-width: 100%;
    max-width: 120%;
    min-height: 70px;
    font-size: 3vh;
    border: 1px solid #6a6a6a;
    border-radius: 24px;
    background: var(--tertiary-bg);
    color: var(--primary-color);
    margin-bottom: 10px;
    box-shadow: #6a6a6a;
}

button:hover {
    background: var(--primary-bg);
    color: var(--secondary-color);
}


.cardsSelection {
    min-width: 80%;
}

/* 3er BUTTONS */
.save,
.load,
.info {
    font-size: 7pt;
    display: inline-block;
}


/*
 * WATERMARK 
 */

@media all and (max-width: 500px) {
    .watermark {
        display: none;
    }
}

.watermark,
.warning {
    position: absolute;
    color: var(--secondary-color);
    text-align: center;
    color: red;
}

.watermark {
    bottom: 0;
    right: 5;
}

.watermark>p {
    margin: 0;
}

.warning {
    padding: 20px;
    background-color: var(--secondary-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    font-size: x-large;
}


input {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    min-height: 30px;
    min-width: 100px;
    border-radius: 5px;
    color: var(--primary-color)
}

input::placeholder {
   text-align: center;
   color: var(--secondary-color)
}