@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
  padding: 0;
  margin: 0;
}
canvas {
  border-radius: 10px;
  padding: 0px;
  margin: 100px;
  border: 1px solid black;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {transform: translateX(26px);}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}


.bottombar {
  position: fixed;
  bottom: 35px;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
}
.fonted {
  font-family: Quicksand;
  font-size: 27px;
}
.placeholder {
  width: 50px;
  height: 10px;
  display:inline-block;
}
.placeholderlong {
  width: 100px;
  height: 10px;
  display:inline-block;
}

.button1 {
  background: rgba(235, 235, 235, 0.5);
  box-shadow: 68px -9px 35px -20px rgba(219,219,219,1);
  border-radius: 8px;
  border:black solid 1px;
}
.button1text {
  font-family: Quicksand;
  font-size: 23pt;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 3%;
  border-radius: 5px;
  border: 2px solid black;
}
.material-icons {
  width: 100%;
  height: 100%;
}
.menuoverlay {
  overflow: scroll;
  overflow-x: hidden;
  width: 700px;
  height:500px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 5px;
  border:5px solid black;
  flex-flow: wrap;
}
.menuoverlay hr {
  width: 100%;
  border: none;
}
.fontedtwo {
  height:10%;
}

.option1, .option5, .option8 {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 4px solid #02b302;
  padding: 4px;
}

.option2, .option6 {
    padding: 4px;
    border: 4px solid #02b302;
    border-left: none;
    border-right: none;
}
.option3{
  background: #02b302;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 4px solid #02b302;
  padding: 4px;
}

.fontedthree {
  height: 20%;
}

.option4 {
  border-radius: 10px;
  border: 4px solid #02b302;
  padding: 4px;
}

.option9 {
  background: #02b302;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 4px solid #02b302;
  padding: 4px;
}

.option7, .option10, .option11 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 4px solid #02b302;
  padding: 4px;
}

.option1:hover, .option2:hover, .option3:hover, .option4:hover {
  opacity: 0.8;
  background: #02b302;
}
